<!DOCTYPE html>
<html>
  <head>
    <title>Wanderer</title>
    <link rel="icon"type="image/png"href="/images/sword.png">
  </head>
  <body>
    <h2>Editing Platform</h1>
    <ul>
      <li>
        <a href='maps/edit'>Map Editor</a>
      </li>
      <li>
        <a href='models/edit'>Model Editor</a>
      </li>
    </ul>
  </body>
</html>
