<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Map Editor - Wanderer</title>
  <link rel="icon" type="image/png" href="/images/map.png">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js'></script>
  <script src='scripts/directives.js'></script>
  <script src='scripts/services.js'></script>
  <script src='scripts/controllers.js'></script>
  <script src='scripts/filters.js'></script>
  <script src='scripts/map.js'></script>
</head>
<body>
  
</body>
</html>
