<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
  <meta charset="UTF-8">
  <title>Model Editor - Wanderer</title>
  <link rel="icon"type="image/png"href="/images/bag.png">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js'></script>
  <script src='http://code.angularjs.org/1.3.0-beta.1/angular-route.min.js'></script>
  <script src='/scripts/directives.js'></script>
  <script src='/scripts/services.js'></script>
  <script src='/scripts/controllers.js'></script>
  <script src='/scripts/filters.js'></script>
  <script src='/scripts/models.js'></script>
</head>
<body>
  <div class='side bar'>
    <a href='#items'>
    <div class='option'>
      <img src='/assets/items/sword.png'></img>
      <h3>Items</h3>
    </div> 
    </a>
    <a href='#npc'>
    <div class='option'>
      <img src='/assets/npc/orc-shaman.png'></img>
      <h3>NPC</h3>
    </div>
    </a>
    <a href='#characters'>
    <div class='option'>
      <img src='/assets/characters/hunter.png'></img>
      <h3>Characters</h3>
    </div>
    </a>
    <a href='#objects'>
    <div class='option'>
      <img src='/assets/objects/chest2.png'></img>
      <h3>Objects</h3>
    </div>
    </a>
    <a href='#tiles'>
    <div class='option'>
      <img src='/assets/tiles/cobble.png'></img>
      <h3>Tiles</h3>
    </div>
    </a>
  </div>
  <div ng-view></div>
   <div class='bottom nav bar'></div>
</body>
</html>
