 <div class='fluid column'>
    <div class='column column-60 models'>
      <div class='nav bar'>
        <strong>Search Items:</strong><input type='text' ng-model='search'/>
        <button ng-click='new()'>Create Item</button>
        <button ng-click='save()'>Save Models</button>
      </div>

      <table>
        <thead>
          <tr>
            <th>Sprite</th>
            <th>ID</th>
            <th>Name</th>
            <th>Rarity</th>
            <th>Value</th>
          </tr> 
        </thead>
        <tbody>
          <tr ng-repeat='(id, model) in collection | search:search' 
            ng-click='edit(id, $index)' ng-class='{active: (activeIndex === $index) && edit(id, $index)}'>
            <td>
              <img src='/assets/{{collectionName}}/{{model.img}}'></img>
            </td>
            <td ng-bind='model.name'></td>
            <td ng-bind='model.rarity'></td>
            <td ng-bind='model.value'></td>
          </tr>
        </tbody>
      </table>
    
    </div>
    <div class='column column-40'>
      <div class='nav bar center'>
        <h2 ng-bind='model.name'></h2>
      </div>
      <div class='preview'>
        <img height='100' src='/assets/{{collectionName}}/{{model.img}}'></img> 
      </div>
      <div class='stats'>
        <div ng-repeat='(key, value) in schema'>
          <strong>{{key}}:</strong>
          <input type='text' ng-model='model[key]' ng-hide='value | isObject'/>
          <div ng-show='value | isObject'>
            <div class='inner' ng-repeat='(k, v) in value'>
              <strong>{{k}}:</strong>
              <input type='text' ng-model='model[key][k]'></input>
            </div>
          </div>
        </div>
