.bar {
  height:10px;
  background-image:url(assets/textures/bar.png);
  position:relative;
  z-index:10;
}

.bar:before {
  z-index:8;
  display:block;
  position:absolute;
  left:0;
  content: '';
  height:10px;
  width:10px;
  margin-left:-3px;
  background-image:url(assets/textures/bar-left.png);
}

.bar:after {
  z-index:8;
  display:block;
  position:absolute;
  right:0;
  top:0;
  content: '';
  height:10px;
  width:10px;
  margin-right:-3px;
  background-image:url(assets/textures/bar-right.png);
}

.bar.vertical {
  background-image:url(assets/textures/bar-vertical.png);
  position:absolute;
  right:0;
  top:0;
  height:100%;
  width:10px;
}

.bar.vertical:before {
  background-image:url(assets/textures/bar-vertical-top.png);
  width:10px;
  height:10px;
  margin-left:0;
  right:0;
  display:none;
}

.bar.vertical:after {
  background-image:url(assets/textures/bar-vertical-bottom.png);
  margin-right:0;
  width:10px;
  height:10px;
  bottom:0;
  display:none;
}
