@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  font: 14px 'Open Sans', sans-serif;
  overflow:hidden;
}

a {
  color: #00B7FF;
}

.preview img {
  image-rendering: -webkit-optimize-contrast; /* webkit */
  image-rendering: -moz-crisp-edges /* Firefox */
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

.preview {
  padding-top:50px;
  text-align:center;
}

input {
  border:none;
  background-color:#222;
  border:solid 1px #111;
  border-radius:2px;
  font-size:12pt;
  padding:4px;
  margin-top:5px;
  outline:none;
  color:#aaa;
}

table {
  color:#aaa;
  width:100%;
  border-collapse:collapse;
}

thead {
  text-align:left;
  border-bottom:solid 1px #111;
}

tbody tr:hover {
  cursor:pointer;
  background-color:#252525;
}

tbody tr.active {
  background-color:#333;
}

.side.bar {
  position:absolute;
  left:0;
  top:0;
  background-color:#222;
  width:90px;
  height:100%;
  border-right:solid 1px #151515;
  text-align:center;
  padding:10px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.fluid.column {
  height:100%;
  width:100%;
  box-sizing:border-box;
  margin-left:90px;
}

.column {
  height:100%;
  float:left;
  clear:none;
  max-height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
}

.column-40 {
  background-color:#333;
  width:40%;
}

.column-60 {
  width:60%;
}

.preview {
  background-image:url(/images/background.png);
  background-size:16px 16px;
  height:150px;
  background-color:#fff;
  border-bottom:solid 1px #151515;
}

.option {
  padding-top:15px;
}

.option:hover {
  cursor:pointer;
  background-color:#333;
}

.option h3 {
  font-size:10pt;
  color:#aaa;
}

.models {
  background-color:#222;
  border-left:solid 1px #151515;
  margin-right:-1px;
}

.nav.bar {
  min-height:32px;
  line-height:32px;
  width:100%;
  background-color:rgba(0,0,0,0.4);
  border-bottom:solid 1px #151515;
  color:#aaa;
  padding-left:5px;
} 

.center {
  text-align:center;
}

.nav.bar h2 {
  margin:0;
  padding:0;
}

.inner {
  margin-left:20px;
}

.stats {
  padding:10px;
}

.stats div {
  overflow:hidden;
}

.stats div div {
  float:none;
  clear:both;
}

.stats strong {
  display:block;
  min-width:80px;
  float:left;
}

.stats input {
  display:block;
  float:left;
}
