@mixin dark {
  background-image:url(assets/textures/dark.png);
}

@mixin light {
  background-image:url(assets/textures/light.png);
}

@mixin parchment {
  background-image:url(assets/textures/parchment.png);
}

