@font-face {
  font-family: title;
  src: url(assets/fonts/SUPERSCR.TTF);
}

@font-face {
  font-family: pixel;
  src: url(assets/fonts/Munro.ttf);
}

@mixin shadow {
  text-shadow:1px 2px rgba(0,0,0,0.6);
}

body {
  font-family:pixel;
  color:#fff;
  font-weight:bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: title, pixel, monospace;
  margin:0;
  padding:0;
  margin-bottom:1em;
}

.positive { color:green; }
.neutral { color:#005CFF; }
.negative { color:#AA1010; }

.dialog,.window {
  color:#333;
  
  .title {
    @include shadow;
    text-align:center;
    color:white;
  }

  ul {
    list-style:url(assets/textures/bullet.png);
  }
}

button {
  @include shadow;
  color:#fff;
  font-weight:bold;
}

.huge {
  font-size: 48pt;
}

.big {
  font-size: 32pt;
}

.small {
  font-size: 11pt;
}

.tiny {
  font-size: 8pt;
}
