/* Base Styles */
@import 'modules/typography';
@import 'modules/hud';
@import 'modules/textures';
@import 'modules/decoration';
@import 'modules/dialog';
@import 'modules/ui/button';
@import 'modules/ui/bar';
@import 'modules/ui/overlay';

html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:black;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-pixelated;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-pixelated;
  image-rendering: optimize-contrast;    
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: optimizeSpeed;
}

.title.screen {
  display:none;
  padding-top:40px;
  text-align:center;
 
  .main.menu {
    width:400px;
    margin:0 auto;
    @include parchment;
     
    .options {
      padding-top:20px;
    }
  }

  .main.menu h2 {
    color:#333;
    font-family:pixel;
    cursor:pointer;

    &:hover {
      color:#555;

      &:before {
        color:#666;
        content: '- ';
      }

      &:after {
        color:#666;
        content: ' -';
      }
    }
 
    &:active {
      color:#eee;
    }
  }
}


.character {
  position:relative;
  margin-bottom:10px;

  .img-shift {
    position:absolute;
    top:10px;
    margin-left:32px;
  }
}

.character.list .character {
  cursor:pointer;
  -webkit-transition:0.5s;
  padding:10px 0;
} 

.character.list .character:hover {
  -webkit-transition:0.5s;
  padding-left:10px;
  background-color:rgba(255, 255, 255, 0.2);
}


.load.screen {
  background-color:#333;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;

  .sidebar { 
    @include parchment;
    position:absolute;
    left:0;
    top:0;
    width:200px;
    height:100%;
  }

  .character.list {
    margin:0;
    list-style-type:none;
    padding:10px 0;

    h3 {
      color:#444;
      margin:0;
      padding:0;
    }

    span {
      color:#666;
    }
  }

  .character.info {
    position:absolute;
    left:0;
    top:0;
    margin-left:200px;
    padding:20px;
  }
}
